body{
	margin:0;
	background-color:#def3e9;
	overflow:auto;
}

#btn1{
	background:#003300;
	height:70%;
	width:20%;
	position:relative;
	margin-left:10px;
	left:1200px;
	cursor:pointer;

	color:#FFF;
	font-size:25px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	line-height:100%x;
	padding-left:10px;
	text-align:left;


}
#btn2{
	background:#006600;
	height:70%;
	width:20%;
	position:relative;
	margin-left:10px;
	left:1200px;
	cursor:pointer;

	color:#FFF;
	font-size:25px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	line-height:100%;
	padding-left:10px;
	text-align:left;
}

#btn3{
	background:#339933;
	border-color:#F60;
	height:70%;
	width:20%;
	position:relative;
	margin-left:10px;
	left:1200px;
	cursor:pointer;

	color:#FFF;
	font-size:25px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	line-height:100%;
	padding-left:10px;
	text-align:left;
}

#btn4{
	background:#339966;
	border-color:#F60;
	height:70%;
	width:20%;
	position:relative;
	margin-left:10px;
	left:1200px;
	cursor:pointer;

	color:#FFF;
	font-size:25px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	line-height:100%;
	padding-left:10px;
	text-align:left;
}


#content{
	background:#def3e9;
	height:600px;
	width:1200px;
	position:relative;
	top:500px;
	z-index:0;
	overflow-y: scroll;
	overflow-x: hidden;
}

#backbutton{
	position:relative;
	left:760px;
	cursor:pointer;
}

#caption{
	position:relative;
	top:-60px;

	color:#FFF;
	font-size:25px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#pagecaption{
	position:relative;
	top:-60px;

	color:#FFF;
	font-size:25px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}